<div class="footer">
    <p>Made by ☠️ by Edward Newgate</p>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/Home.js"></script>

</html>